
//Declaring variables
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

.btn {
  background: #FF79DA ;
  background-image: linear-gradient(to bottom, #FF79DA , #9356DC);
  border-radius: 28;
  font-family: Roboto;
  color: #ffffff;
  font-size: 16px;
  border-radius: 20px;
  border-style: none;
  border-width: 2;
  padding: 15px 25px;
  text-decoration: none;
}

.btn:hover {
  background: #6bfa3c;
  background-image: -webkit-linear-gradient(top, #6bfa3c, #9fd934);
  background-image: -moz-linear-gradient(top, #6bfa3c, #9fd934);
  background-image: -ms-linear-gradient(top, #6bfa3c, #9fd934);
  background-image: -o-linear-gradient(top, #6bfa3c, #9fd934);
  background-image: linear-gradient(to bottom, #6bfa3c, #9fd934);
  text-decoration: none;
}
