
//Declaring variables
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
$hover-color: #e2d7ef;

.btn {
  background: $secondary-color;
  background-image: linear-gradient(to bottom, #FF79DA , #9356DC);
  border-radius: 28;
  font-family: Roboto;
  color: #ffffff;
  font-size: 16px;
  border-radius: 20px;
  border-style: none;
  border-width: 2;
  padding: 15px 25px;
  text-decoration: none;
}

.btn:hover {
  background: #e69fd2;
  background-image: -webkit-linear-gradient(top, #e69fd2, #a57ed4);
  background-image: -moz-linear-gradient(top, #e69fd2, #a57ed4);
  background-image: -ms-linear-gradient(top, #e69fd2, #a57ed4);
  background-image: -o-linear-gradient(top, #e69fd2, #a57ed4);
  background-image: linear-gradient(to bottom, #e69fd2 , #a57ed4);
  text-decoration: none;
}

//Settting header
.header {
  text-align: center;
  margin: 30px 0px;

  .logo {
    width: 50%;
  }
}

//setting footer
.footer {
  margin-bottom: 50px;
  padding: 20px 30px;
  background-color: #2c2727;
  color: #fff;

  .suggest {
    padding-top: 20px;

    .footerIcons {
      padding-right: 10px;
    }
  }

  .partner {
    padding-top: 10px;
    display: flex;

    .footerIcons {
      padding-right: 10px;
    }
  }
  .legal {
    padding: 10px 0px;
  }
  
}
@media screen and (max-width: 960px) {
 
}

